
/* ============ Header secion ============== */
.h-logo img{
    @apply max-w-[250px];
}

.site-header{
    @apply flex justify-between items-center gap-x-5;
}
.entire-header{
    @apply w-full top-0 left-0 z-30;
    position: fixed;
}
.entire-header.scrolled{
    @apply shadow-lg bg-primary bg-opacity-5;
}

/*====================
    Header Menu
======================*/
.h-menu ul {
    @apply xl:flex relative z-40 gap-x-7;
}
.h-menu li{
    @apply relative;
}
.h-menu li ul{
    @apply xl:absolute py-3 w-full xl:w-64 top-full left-0 bg-gray-50 hidden xl:block xl:opacity-0 xl:invisible xl:transition-all xl:duration-500 xl:translate-y-4 z-50;
}
.h-menu li li ul{
    @apply xl:left-full xl:top-0 pl-3 xl:pl-0;
}

.h-menu li:hover > ul{
    @apply opacity-100 visible translate-y-0;
}
li.has-children{
    @apply xl:pr-7;
}
li.has-children i {
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 22px;
    line-height: 1;
    @apply p-3 xl:p-1 top-0 xl:top-1/2 xl:-translate-y-1/2 z-10;
}
li.has-children svg{
    @apply w-4 h-4; 
}
.h-menu li li i{
    @apply xl:-rotate-90;
}
.h-menu li ul a{
    @apply px-5 py-1 block font-medium transition duration-200 text-gray-200;
}
.h-menu > ul> li{
    @apply text-gray-200 hover:text-heading xl:py-6;
}
.h-menu > ul> li > a {
    @apply py-3 block relative text-gray-600 font-medium pl-4;
}
.h-menu > ul> li.current_page_item > a::before {
    @apply xl:content-[""] absolute transition-all top-5 w-2 h-2 transform bg-primary rotate-45 left-0;
}

.h-menu li li:hover > a,
.h-menu li li.active > a{
    @apply text-heading;
}
.h-menu li li:hover > i,
.h-menu li li.active > i{
    @apply  text-heading;
}

.h-menu > ul > li:hover > a,
.h-menu > ul > li.current_page_item > a{
    @apply hover:text-primary text-primary;
}
.h-menu li.active ul a:before{
    content: none;
}
.m-menu li a {
    @apply border-b border-gray-100 py-3 pl-5 pr-3 w-full block;
}

.h-menu-footer {
    @apply px-3 py-5;
}

/* mobile-menu */
.header-sec.scrolled {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    top: 0;
    z-index: 50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.menutrigger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
}
.menutrigger.active span:nth-child(2) {
    opacity: 0;
}
.menutrigger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
}
.mobile-menu {
	position: fixed;
	z-index: 30;
	width: 100%;
	left: 0;
	bottom: 0;
	visibility: hidden;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}
.mobile-menu-inner {
    position: absolute;
    width: 300px;
    top: 0;
    right: -300px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    max-height: 100%;
    overflow-y: auto;
}

.mobile-menu.menu-opened .mobile-menu-inner {
    right: 0;
    opacity: 1;
    visibility: visible;
}


body.menu-opened {
    overflow: hidden;
}
body.menu-opened .mobile-menu{
    visibility: visible;
}
body.menu-opened main{
    @apply blur-sm;
}

.m-menu-head {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 15px;
}

.menuclose {
    display: inline-block;
    padding: 4px;
}
.mobile-menu.menu-opened .menu-overlay {
    @apply opacity-100;
    visibility: visible;
}
.menu-overlay {
	opacity: 0;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	position: absolute;
	-webkit-backdrop-filter: blur(14px);
	backdrop-filter: blur(10px);
	background: rgba(91, 207, 222, .05);
}

.m-menu-body {
    overflow: hidden;
    position: relative;
}